<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-list>

      <ion-item button routerLink="/avatar">
        <ion-label>
          Avatar
        </ion-label>
      </ion-item>

      <ion-item button routerLink="/thumbnail">
        <ion-label>
          Thumbnail
        </ion-label>
      </ion-item>

      <ion-item button routerLink="/icon">
        <ion-label>
          Icon
        </ion-label>
      </ion-item>

      <ion-item button routerLink="/photo">
        <ion-label>
          Photo
        </ion-label>
      </ion-item>

      <ion-item button lines="none" routerLink="/card">
        <ion-label>
          Card
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-card>
</ion-content>